In [2]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [3]:
listings_df = pd.read_csv("resources/Full_Listings.csv")
listings_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,rental_occupied_units_2015,median_value_2015,median_monthly_costs_2015,median_rent_2015,zcta_income_2020,median_household_income_2020,median_family_income_2020,zcta_income_2015,median_household_income_2015,median_family_income_2015
0,90676,Short North - Italianate Cottage,483306,Audra & Lacey,NaN,Near North/University,39.98394,-83.00321,Entire home/apt,213,...,"9,428","203,700","1,554",858,43201,"34,884","47,014",43201,"25,322","51,458"
1,543140,Private queen bedroom 1 - N.Campus,2350409,Edward,NaN,Near North/University,40.01243,-83.00986,Private room,29,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
2,591101,The Bellows' Studio Loft (3rd floor apartment),2889677,Gail,NaN,Near East,39.96086,-82.97968,Private room,100,...,"3,414","102,800","1,120",690,43205,"40,559","44,420",43205,"30,491","32,843"
3,923248,1 Single Bed in a Shared Coed Dorm at the Hostel,4965048,Mathew,NaN,Near North/University,40.01259,-83.00164,Shared room,37,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
4,927867,Full Private Room at the Hostel,4965048,Mathew,NaN,Near North/University,40.01259,-83.00164,Private room,72,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"

In [7]:
listings_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_home_listings_count',
       'availability_365', 'number_of_rviews_ltm', 'license', 'zipcode',
       'zcta_housing_2020', 'total_units_2020', 'occupied_units_2020',
       'vacant_units_2020', 'median_rooms_2020', 'owner_occupied_units_2020',
       'rental_occupied_units_2020', 'median_value_2020',
       'median_monthly_costs_2020', 'median_rent_2020', 'zcta_housing_2015',
       'total_units_2015', 'occupied_units_2015', 'vacant_units_2015',
       'median_rooms_2015', 'owner_occupied_units_2015',
       'rental_occupied_units_2015', 'median_value_2015',
       'median_monthly_costs_2015', 'median_rent_2015', 'zcta_income_2020',
       'median_household_income_2020', 'median_family_income_2020',
       'zcta_income_2015', 'median_household_income_2015',
       'median_family_income_2015'],
      dtype='object')

In [9]:
listings_df.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_home_listings_count,...,total_units_2020,vacant_units_2020,median_rooms_2020,owner_occupied_units_2020,rental_occupied_units_2020,median_rent_2020,zcta_housing_2015,median_rooms_2015,zcta_income_2020,zcta_income_2015
count,2.107000e+03,2.107000e+03,0.0,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,1867.000000,2107.000000,...,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000
mean,2.361865e+17,1.741128e+08,NaN,39.987538,-82.989957,154.967252,6.343142,51.602278,2.816256,15.572378,...,12946.472235,1465.820598,4.938301,4502.812530,6977.839108,1009.343617,43197.718557,5.036260,43197.718557,43197.718557
std,3.076185e+17,1.424209e+08,NaN,0.045085,0.049425,122.932711,13.088727,81.154071,2.201824,24.763667,...,4896.779568,556.940256,0.841718,3718.395113,2878.531870,156.518390,39.871982,0.845442,39.871982,39.871982
min,9.067600e+04,7.876100e+04,NaN,39.840500,-83.175060,19.000000,1.000000,0.000000,0.030000,1.000000,...,84.000000,0.000000,2.800000,0.000000,44.000000,554.000000,43002.000000,3.200000,43002.000000,43002.000000
25%,3.968537e+07,4.389989e+07,NaN,39.957145,-83.009340,86.500000,1.000000,4.000000,1.110000,1.000000,...,10276.000000,1040.000000,4.400000,1949.000000,5205.000000,908.000000,43201.000000,4.600000,43201.000000,43201.000000
50%,5.214420e+07,1.416151e+08,NaN,39.981860,-82.998460,124.000000,2.000000,19.000000,2.290000,4.000000,...,12274.000000,1365.000000,5.200000,2712.000000,6321.000000,994.000000,43205.000000,5.100000,43205.000000,43205.000000
75%,6.048862e+17,2.633329e+08,NaN,40.008030,-82.971905,182.000000,2.000000,62.000000,3.925000,20.000000,...,15281.000000,1856.000000,5.400000,5158.000000,9285.000000,1094.000000,43214.000000,5.700000,43214.000000,43214.000000
max,7.197658e+17,4.787276e+08,NaN,40.153790,-82.781520,1268.000000,300.000000,723.000000,14.000000,107.000000,...,27357.000000,2175.000000,8.000000,18881.000000,12848.000000,1478.000000,43235.000000,8.000000,43235.000000,43235.000000

In [10]:
listings_df.info

<bound method DataFrame.info of                       id                                               name  \
0                  90676                   Short North - Italianate Cottage
1                 543140                 Private queen bedroom 1 - N.Campus
2                 591101    The Bellows' Studio Loft  (3rd floor apartment)
3                 923248   1 Single Bed in a Shared Coed Dorm at the Hostel
4                 927867                    Full Private Room at the Hostel
...                  ...                                                ...
2102  719459298609982363   Charming 3 Bedroom Home, Steps from Short North!
2103  719462438891781706  Private Home away from Home close to Schiller ...
2104  719758428460095764      The Top-Floor 1BR Penthouseâ€”Downtown Columbus
2105  719760392721789064   *Cameron Room* Cozy, Close to OSU, Downtown, etc
2106  719765833016581493  *Clara Room* Spacious, Close to OSU, Downtown,...

        host_id      host_name  neighbourhood_group          neighbourhood  \
0        483306  Audra & Lacey                  NaN  Near North/University
1       2350409         Edward                  NaN  Near North/University
2       2889677           Gail                  NaN              Near East
3       4965048         Mathew                  NaN  Near North/University
4       4965048         Mathew                  NaN  Near North/University
...         ...            ...                  ...                    ...
2102  478727368     Lisas Team                  NaN  Near North/University
2103  478727368     Lisas Team                  NaN             Near South
2104  116400313           Nate                  NaN               Downtown
2105  217660325            Jin                  NaN  Near North/University
2106  217660325            Jin                  NaN  Near North/University

       latitude  longitude        room_type  price  ...  \
0     39.983940 -83.003210  Entire home/apt    213  ...
1     40.012430 -83.009860     Private room     29  ...
2     39.960860 -82.979680     Private room    100  ...
3     40.012590 -83.001640      Shared room     37  ...
4     40.012590 -83.001640     Private room     72  ...
...         ...        ...              ...    ...  ...
2102  39.979890 -83.001570  Entire home/apt     75  ...
2103  39.943780 -82.984220  Entire home/apt     75  ...
2104  39.964276 -82.997779  Entire home/apt    118  ...
2105  40.008060 -83.002470     Private room     52  ...
2106  40.005850 -83.001270     Private room     51  ...

      rental_occupied_units_2015  median_value_2015 median_monthly_costs_2015  \
0                          9,428            203,700                     1,554
1                          6,502            176,800                     1,449
2                          3,414            102,800                     1,120
3                          6,502            176,800                     1,449
4                          6,502            176,800                     1,449
...                          ...                ...                       ...
2102                       6,442            254,700                     1,975
2103                       5,292             97,100                     1,214
2104                       6,442            254,700                     1,975
2105                       9,428            203,700                     1,554
2106                       9,428            203,700                     1,554

      median_rent_2015  zcta_income_2020  median_household_income_2020  \
0                  858             43201                        34,884
1                  851             43202                        56,332
2                  690             43205                        40,559
3                  851             43202                        56,332
4                  851             43202                        56,332
...                ...               ...                           ...
2102               920             43215                        64,368
2103               854             43206                        59,082
2104               920             43215                        64,368
2105               858             43201                        34,884
2106               858             43201                        34,884

      median_family_income_2020 zcta_income_2015  \
0                        47,014            43201
1                        80,461            43202
2                        44,420            43205
3                        80,461            43202
4                        80,461            43202
...                         ...              ...
2102                     92,708            43215
2103                     63,346            43206
2104                     92,708            43215
2105                     47,014            43201
2106                     47,014            43201

      median_household_income_2015  median_family_income_2015
0                           25,322                     51,458
1                           45,152                     72,263
2                           30,491                     32,843
3                           45,152                     72,263
4                           45,152                     72,263
...                            ...                        ...
2102                        52,178                    125,239
2103                        43,810                     44,618
2104                        52,178                    125,239
2105                        25,322                     51,458
2106                        25,322                     51,458

[2107 rows x 45 columns]>

In [11]:
listings_df.nunique()

id                                2107
name                              2084
host_id                            851
host_name                          621
neighbourhood_group                  0
neighbourhood                       26
latitude                          1911
longitude                         1859
room_type                            3
price                              390
minimum_nights                      23
number_of_reviews                  283
last_review                        247
reviews_per_month                  662
calculated_home_listings_count      29
availability_365                   328
number_of_rviews_ltm               121
license                           1331
zipcode                             44
zcta_housing_2020                   44
total_units_2020                    44
occupied_units_2020                 44
vacant_units_2020                   44
median_rooms_2020                   23
owner_occupied_units_2020           44
rental_occupied_units_2020          44
median_value_2020                   44
median_monthly_costs_2020           44
median_rent_2020                    42
zcta_housing_2015                   44
total_units_2015                    44
occupied_units_2015                 44
vacant_units_2015                   44
median_rooms_2015                   25
owner_occupied_units_2015           44
rental_occupied_units_2015          44
median_value_2015                   44
median_monthly_costs_2015           44
median_rent_2015                    43
zcta_income_2020                    44
median_household_income_2020        44
median_family_income_2020           43
zcta_income_2015                    44
median_household_income_2015        43
median_family_income_2015           44
dtype: int64

In [12]:
duplicates = listings_df.duplicated()
duplicates.sum()

0

In [13]:
listings_df["room_type"].value_counts()

Entire home/apt    1699
Private room        402
Shared room           6
Name: room_type, dtype: int64

In [14]:
listings_df["neighbourhood"].value_counts()

Near North/University    704
Near South               329
Near East                258
West Olentangy            91
Downtown                  84
Clintonville              80
Eastmoor/Walnut Ridge     65
Northland                 63
South Linden              53
Franklinton               52
Northeast                 43
Far North                 40
North Linden              37
Rocky Fork-Blacklick      28
Northwest                 21
Far Northwest             21
Hayden Run                19
Far East                  19
Hilltop                   17
Eastland/Brice            17
West Scioto               14
Westland                  14
Far South                 12
Southeast                 11
Greenlawn/Frank Road       8
Far West                   7
Name: neighbourhood, dtype: int64

In [15]:
listings_df["neighbourhood_group"].value_counts()

Series([], Name: neighbourhood_group, dtype: int64)

In [4]:
report = ProfileReport(listings_df)
report

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

AttributeError: 'NoneType' object has no attribute 'replace'